<ul class="category">
  <li>
    <img src="/images/woman.png" alt="">
    <p>女装</p>
  </li>
  <li>
    <img src="/images/man.png" alt="">
    <p>男装</p>
  </li>
  <li>
    <img src="/images/neiyi.png" alt="">
    <p>内衣</p>
  </li>
  <li>
    <img src="/images/muying.png" alt="">
    <p>母婴</p>
  </li>
  <li>
    <img src="/images/riyong.png" alt="">
    <p>日用</p>
  </li>
  <li>
    <img src="/images/meizhuang.png" alt="">
    <p>美妆</p>
  </li>
  <li>
    <img src="/images/meishi.png" alt="">
    <p>美食</p>
  </li>
  <li>
    <img src="/images/shuma.png" alt="">
    <p>数码</p>
  </li>
  <li>
    <img src="/images/xiezi.png" alt="">
    <p>鞋子</p>
  </li>
</ul>
