<ul class="category">
  <li>
    <a href="/search?searchName=女装">
      <img src="/images/woman.png" alt="">
      <p>女装</p>
    </a>
  </li>
  <li>
    <a href="/search?searchName=男装">
      <img src="/images/man.png" alt="">
      <p>男装</p>
    </a>
  </li>
  <li>
    <a href="/search?searchName=内衣">
      <img src="/images/neiyi.png" alt="">
      <p>内衣</p>
    </a>
  </li>
  <li>
    <a href="/search?searchName=母婴">
      <img src="/images/muying.png" alt="">
      <p>母婴</p>
    </a>
  </li>
  <li>
    <a href="/search?searchName=日用">
      <img src="/images/riyong.png" alt="">
      <p>日用</p>
    </a>
  </li>
  <li>
    <a href="/search?searchName=美妆">
      <img src="/images/meizhuang.png" alt="">
      <p>美妆</p>
    </a>
  </li>
  <li>
    <a href="/search?searchName=美食">
      <img src="/images/meishi.png" alt="">
      <p>美食</p>
    </a>
  </li>
  <li>
    <a href="/search?searchName=数码">
      <img src="/images/shuma.png" alt="">
      <p>数码</p>
    </a>
  </li>
  <li>
    <a href="/search?searchName=鞋子">
      <img src="/images/xiezi.png" alt="">
      <p>鞋子</p>
    </a>
  </li>
  <li>
    <a href="https://s.click.taobao.com/t?e=m%3D2%26s%3DTww8B%2FgwVfUcQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAqsu10jbUK3N2Wp0cUyixa6mSeFT4Cbrz2Kp40WJ2NbKmi0ZNlMZLDuwNfs3645IHs4ZClCnK9T%2BI5f%2BE1PwnKUSZIv2kkTK3TO5MaXTjVAC8NrILB%2FZ0yJyeNAoQluSaiqeXxOIemiRIM8PXh6ZvnZ5xu7ZGF%2Fxo7whI9S2ATqBU%2B6veuGrZgHGJe8N%2FwNpGw%3D%3D">
      <img src="/images/juhuasuan.png" alt="">
      <p>聚划算</p>
    </a>
  </li>
</ul>
