<% include ../modules/searchHeader.html %>
</head>
<body>
  <% include ../modules/topNav.html %>
  <div class="fans-main">
    <div class="cash-input">
      <div class="cash-box">
        <label>真实姓名</label>
        <input class="fe user-name" placeholder="请输入支付宝认证的真实姓名">
      </div>
      <div class="cash-box">
        <label>支付宝号</label>
        <input class="fe alipay-number" placeholder="请输入支付宝号">
      </div>
      <div class="cash-box">
        <label>手机号码</label>
        <input type="number" class="fe phone-number" placeholder="请输入支付宝认证的手机号">
      </div>
      <div class="cash-box">
        <label>邮箱</label>
        <input type="email" class="fe email" placeholder="请输入支付宝认证的手机号">
      </div>
    </div>
    <div class="application-btn bin-active">立即绑定</div>
  </div>
</body>
<script type="text/javascript" src="/js/admin/cashWithdrawal.js"></script>
</html>
