<% include ../modules/searchHeader.html %>
</head>
<body>
  <% include ../modules/topNav.html %>
  <div class="main">
    <div class="update-all">
      一建更新全部
    </div>
    <table class="update">

        <% for (var i = 0; i<Navigation.data.length; i++) {%>
          <tr>
            <td><%= Navigation.data[i].title%></td>
            <td><input type="number" class="page-no" placeholder="输入页数"></td>
            <td><div class="delete update-commodity" data-id="<%= Navigation.data[i].navId%>">更新</div></td>
          </tr>
        <% } %>
    </table>
    <h1>大额券</h1>
    <table>
        <tr>
          <td>综合</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="9660">更新</div></td>
        </tr>
        <tr>
          <td>女装</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="9658">更新</div></td>
        </tr>
        <tr>
          <td>家居家装</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="9655">更新</div></td>
        </tr>
        <tr>
          <td>数码家电</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="9656">更新</div></td>
        </tr>
        <tr>
          <td>鞋包配饰</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="9648">更新</div></td>
        </tr>
        <tr>
          <td>美妆个护</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="9653">更新</div></td>
        </tr>
        <tr>
          <td>男装</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="9654">更新</div></td>
        </tr>
        <tr>
          <td>内衣</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="9652">更新</div></td>
        </tr>
        <tr>
          <td>母婴</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="9650">更新</div></td>
        </tr>
        <tr>
          <td>食品</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="9649">更新</div></td>
        </tr>
        <tr>
          <td>运动户外</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="9651">更新</div></td>
        </tr>
    </table>
    <h1>高佣榜</h1>
    <table>
        <tr>
          <td>综合</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="9647">更新</div></td>
        </tr>
        <tr>
          <td>女装</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="9646">更新</div></td>
        </tr>
        <tr>
          <td>家居家装</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="9635">更新</div></td>
        </tr>
        <tr>
          <td>数码家电</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="9645">更新</div></td>
        </tr>
        <tr>
          <td>鞋包配饰</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="9638">更新</div></td>
        </tr>
        <tr>
          <td>美妆个护</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="9643">更新</div></td>
        </tr>
        <tr>
          <td>男装</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="9644">更新</div></td>
        </tr>
        <tr>
          <td>内衣</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="9642">更新</div></td>
        </tr>
        <tr>
          <td>母婴</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="9639">更新</div></td>
        </tr>
        <tr>
          <td>食品</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="9640">更新</div></td>
        </tr>
        <tr>
          <td>运动户外</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="9641">更新</div></td>
        </tr>
    </table>
    <h1>好券直播</h1>
    <table>
        <tr>
          <td>综合</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="3756">更新</div></td>
        </tr>
        <tr>
          <td>女装</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="3767">更新</div></td>
        </tr>
        <tr>
          <td>家居家装</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="3758">更新</div></td>
        </tr>
        <tr>
          <td>数码家电</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="3759">更新</div></td>
        </tr>
        <tr>
          <td>鞋包配饰</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="3762">更新</div></td>
        </tr>
        <tr>
          <td>美妆个护</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="3763">更新</div></td>
        </tr>
        <tr>
          <td>男装</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="3764">更新</div></td>
        </tr>
        <tr>
          <td>内衣</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="3765">更新</div></td>
        </tr>
        <tr>
          <td>母婴</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="3760">更新</div></td>
        </tr>
        <tr>
          <td>食品</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="3761">更新</div></td>
        </tr>
        <tr>
          <td>运动户外</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="3766">更新</div></td>
        </tr>
    </table>
    <h1>母婴主题</h1>
    <table>
        <tr>
          <td>母婴_备孕</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="4040">更新</div></td>
        </tr>
        <tr>
          <td>母婴_0至6个月</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="4041">更新</div></td>
        </tr>
        <tr>
          <td>母婴_4至6岁</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="4044">更新</div></td>
        </tr>
        <tr>
          <td>母婴_7至12个月</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="4042">更新</div></td>
        </tr>
        <tr>
          <td>母婴_1至3岁</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="4043">更新</div></td>
        </tr>
        <tr>
          <td>母婴_7至12岁</td>
          <td><input type="number" class="page-no" placeholder="输入页数"></td>
          <td><div class="delete update-commodity" data-id="4045">更新</div></td>
        </tr>
    </table>
  </div>
</body>
<script type="text/javascript" src="/js/admin.js"></script>
</html>
