<% include ../modules/searchHeader.html %>
</head>
<body>
  <% include ../modules/topNav.html %>
  <div class="main personal-center">
    <h1 class="name">吴一帆</h1>
    <div class="home-main">
      <a href="/admin/orderInquiry" class="list">
        <i class="order-icon"></i>
        <p>我的订单</p>
      </a>
      <div class="list modifying">
        <i class="xiugai"></i>
        <p>修改资料</p>
      </div>
      <a href="/admin/userManagement" class="list user-management">
        <i class="user"></i>
        <p>用户管理</p>
      </a>
    </div>
    <div class="info-input">
      <input class="" type="text" name="userName" value="" placeholder="请输入你的姓名">
      <input type="number" name="Rebate" value="" placeholder="请设置你的返利比例（默认0.5，不能大于1）">
      <input type="text" name="site_name" value="" placeholder="请设置你的公众号名称（默认小欢有劵）">
      <div class="info-save">保存</div>
    </div>
  </div>
</body>
<script type="text/javascript" src="/js/admin/home.js"></script>
</html>
