<% include ../modules/searchHeader.html %>
<link rel="stylesheet" href="/css/admin.css">
</head>
<body>
  <div class="homepage">
    <div class="user-info-header">
      <div class="bj"></div>
      <div class="user-info-content">
        <div class="flex">
          <img class="user-tx" src="/images/moren-pic.png" alt="">
          <div class="user-info-main">
            <div class="account-dj">
              <div class="account">502397665@qq.com</div>
              <div class="dj">
                <!-- <i class="dj-icon"></i> -->
                <span class="member">SVIP</span>
              </div>
            </div>
            <div class="code">邀请码：<span class="code-number"></span><b class="copy-code">复制</b></div>
          </div>
        </div>
        <div class="number-of-fans">
          粉丝 <span>0</span>
        </div>
        <a class="set-up"></a>
      </div>
    </div>
  </div>
  <div class="personal-center">
    <div class="mt20 border20">
      <div class="cash-withdrawal flex flex-center">
        <div class="fe">
          <div class="balance">
            <label>余额&nbsp;&nbsp;￥</label>
            <span class="balance-money">0.0</span>
          </div>
        </div>
        <a href="/admin/cashWithdrawal" class="cash-btn">立即提现</a>
      </div>
      <div class="plate">
        <div class="income">
          <div class="title">上月预估收入(元)</div>
          <div class="money last">0</div>
          <div class="settlement already">已结算</div>
        </div>
        <div class="income">
          <div class="title">本月预估收入(元)</div>
          <div class="money ben">0</div>
          <div class="settlement not">未结算</div>
        </div>
        <i class="deer"></i>
      </div>
      <p class="income-reamrk">每月20日结算上月收入，本月预估收入则在下月20日结算</p>
    </div>
    <div class="home-main">
      <a href="/admin/orderInquiry" class="list">
        <i class="order-icon"></i>
        <p>我的订单</p>
        <img class="jt-icon" src="/images/fanhui.png" alt="">
      </a>
      <div class="list modifying">
        <i class="xiugai"></i>
        <p>修改资料</p>
        <img class="jt-icon" src="/images/fanhui.png" alt="">
      </div>
      <a href="/admin/userManagement" class="list user-management">
        <i class="user"></i>
        <p>用户管理</p>
        <img class="jt-icon" src="/images/fanhui.png" alt="">
      </a>
      <a href="/admin/orderStatusUpdate" class="list user-management">
        <i class="update"></i>
        <p>订单状态</p>
        <img class="jt-icon" src="/images/fanhui.png" alt="">
      </a>
      <!-- <a href="/wechat/docking" class="list">
        <i class="dock"></i>
        <p>怎么对接微信公众号</p>
        <img class="jt-icon" src="/images/fanhui.png" alt="">
      </a>
      <a href="/wechat/docking" class="list">
        <i class="dock"></i>
        <p>邀请好友</p>
        <img class="jt-icon" src="/images/fanhui.png" alt="">
      </a>
      <a href="/admin/myfans" class="list">
        <i class="dock"></i>
        <p>我的粉丝</p>
        <img class="jt-icon" src="/images/fanhui.png" alt="">
      </a> -->
    </div>
    <div class="info-input">
      <input class="" type="text" name="userName" value="" placeholder="请输入你的姓名">
      <input type="number" name="Rebate" value="" placeholder="请设置你的返利比例（默认0.5，不能大于1）">
      <input type="text" name="site_name" value="" placeholder="请设置你的公众号名称（默认小欢有劵）">
      <div class="info-save">保存</div>
    </div>
  </div>
</body>
<script type="text/javascript" src="/js/clipboard.min.js"></script>
<script type="text/javascript" src="/js/admin/home.js"></script>
</html>
