<% include ../modules/searchHeader.html %>
</head>
<body>
  <% include ../modules/topNav.html %>
  <div class="main personal-center">
    <div class="mt20 border20">
      <div class="plate">
        <div class="pic"></div>
        <div class="userInfo">
          <div class="name">502397665@qq.com</div>
          <div class="id">账户ID：122552127</div>
        </div>
        <i class="tree"></i>
      </div>
    </div>
    <div class="mt20 border20">
      <div class="plate">
        <div class="income">
          <div class="title">上月预估收入(元)</div>
          <div class="money">31.25</div>
          <div class="settlement already">已结算</div>
        </div>
        <div class="income">
          <div class="title">本月预估收入(元)</div>
          <div class="money">31.25</div>
          <div class="settlement not">已结算</div>
        </div>

        <i class="deer"></i>
      </div>
      <p class="income-reamrk">每月20日结算上月收入，本月预估收入则在下月20日结算</p>
    </div>
    <div class="border20">
      <div class="base-title clearfloat">
        <div class="left">我的订单</div>
        <div class="right">查看全部订单</div>
      </div>
      <div class="order-box">
        <div class="fe text-center">
          <i class="settlement"></i>
          <p>订单结算</p>
        </div>
        <div class="fe text-center">
          <i></i>
          <p>订单付款</p>
        </div>
        <div class="fe text-center">
          <i></i>
          <p>订单失效</p>
        </div>
        <div class="fe text-center">
          <i></i>
          <p>订单成功</p>
        </div>
      </div>
    </div>

    <div class="home-main">
      <a href="/admin/orderInquiry" class="list">
        <i class="order-icon"></i>
        <p>我的订单</p>
      </a>
      <div class="list modifying">
        <i class="xiugai"></i>
        <p>修改资料</p>
      </div>
      <a href="/admin/userManagement" class="list user-management">
        <i class="user"></i>
        <p>用户管理</p>
      </a>
    </div>
    <div class="info-input">
      <input class="" type="text" name="userName" value="" placeholder="请输入你的姓名">
      <input type="number" name="Rebate" value="" placeholder="请设置你的返利比例（默认0.5，不能大于1）">
      <input type="text" name="site_name" value="" placeholder="请设置你的公众号名称（默认小欢有劵）">
      <div class="info-save">保存</div>
    </div>
  </div>
</body>
<script type="text/javascript" src="/js/admin/home.js"></script>
</html>
