<% include ../modules/header.html %>
</head>
<body>
  <% include ../modules/topNav.html %>
  <div class="main">
    <div>
      <h1 class="title">首页banner添加或删除</h1>
      <table class="banne-list">
        <tr>
          <th>图片描述</th>
          <th>图片地址</th>
          <th>图片跳转地址</th>
          <th>操作</th>
        </tr>
      </table>
      <input type="text" class="input-base img-url" placeholder="图片地址">
      <input type="text" class="input-base img-href" placeholder="图片跳转地址">
      <input type="text" class="input-base img-mark" placeholder="图片描述">
      <div class="add-btn" id="bannerAdd">添加</div>
    </div>
  </div>
</body>
<script type="text/javascript" src="/js/admin.js"></script>
</html>
