<% include ../modules/searchHeader.html %>
</head>
<body>
  <% include ../modules/topNav.html %>
  <div class="fans-main">
    <div class="flex text-center fans-tab">
      <div class="fe active">全部粉丝</div>
      <div class="fe">直属粉丝</div>
      <div class="fe">推荐粉丝</div>
    </div>
    <ul class="myfans-lists">
      <!-- <li class="fans flex">
        <img class="fans-pic" src="" alt="">
        <div class="fans-info">
          <h3 class="fans-name">哈哈细</h3>
          <p class="fans-reamrk">1231231</p>
        </div>
      </li> -->
    </ul>
  </div>
</body>
<script type="text/javascript" src="/js/admin/myfans.js"></script>
</html>
