<% include ../modules/searchHeader.html %>
</head>
<body>
  <% include ../modules/topNav.html %>
  <div class="main order-box">
    <div class="order-search">
      <input type="text" name="orderCode" value="" placeholder="请输入订单编号">
      <div class="search-btn">搜索</div>
    </div>
    <div class="order-nav">
      <div class="active" data-id="1">全部订单</div>
      <div data-id="3">订单结算</div>
      <div data-id="12">订单付款</div>
      <div data-id="13">订单失效</div>
      <div data-id="14">订单成功</div>
    </div>
    <ul class="order-list">
      <li>
        <table class="order-table">

          <!-- <tr>
            <td>2018-12-19 11:38:24</td>
            <td>【轻薄羽绒服】冬季中长款BF宽松学生外套中性工装情侣羽绒衣男女</td>
            <td>已结算</td>
            <td>￥25.80</td>
            <td>￥25.80</td>
          </tr> -->
        </table>
      </li>
    </ul>
  </div>
</body>
<script type="text/javascript" src="/js/admin/orderInquiry.js"></script>
</html>
