<% include ../modules/searchHeader.html %>
</head>
<body>
  <% include ../modules/topNav.html %>
  <div class="main order-box">
    <div class="order-search">
      <input type="text" name="orderCode" value="290820546583580300" placeholder="请输入订单编号">
      <div class="search-btn">搜索</div>
    </div>
    <ul class="order-list">
      <li>
        <table class="order-table">
          <tr>
            <th>创建时间</th>
            <th>商品名称</th>
            <th>订单状态</th>
            <th>付款金额</th>
            <th>预估收入</th>
          </tr>
          <!-- <tr>
            <td>2018-12-19 11:38:24</td>
            <td>【轻薄羽绒服】冬季中长款BF宽松学生外套中性工装情侣羽绒衣男女</td>
            <td>已结算</td>
            <td>￥25.80</td>
            <td>￥25.80</td>
          </tr> -->
        </table>
      </li>
    </ul>
  </div>
</body>
<script type="text/javascript" src="/js/admin/orderInquiry.js"></script>
</html>
