<% include ../modules/searchHeader.html %>
</head>
<body>
  <% include ../modules/topNav.html %>
  <div class="main order-box">
    <div class="order-search">
      <input class="" placeholder="请输入订单创建时间" type="text" name="" value="">
      <div class="search-btn">更新</div>
    </div>
    <div class="flex order-status">
      <div class="fe active" data-id="0">创建时间</div>
      <div class="fe" data-id="1">结束时间</div>
    </div>
  </div>
</body>
<script type="text/javascript" src="/js/admin/orderStatusUpdate.js"></script>
</html>
