<% include ../modules/searchHeader.html %>
</head>
<body>
  <% include ../modules/topNav.html %>
  <div class="main order-box">
    <!-- <div class="order-search">
      <input type="text" name="orderCode" value="" placeholder="请输入订单编号">
      <div class="search-btn">搜索</div>
    </div> -->
    <!-- <div class="order-nav">
      <div data-id="3">订单结算</div>
      <div data-id="12">订单付款</div>
      <div data-id="13">订单失效</div>
      <div data-id="14">订单成功</div>
    </div> -->
    <ul class="order-list">
      <li>

      </li>
    </ul>
  </div>
</body>
<script type="text/javascript" src="/js/admin/orderInquiry.js"></script>
</html>
