<% include ../modules/searchHeader.html %>
</head>
<body>
  <% include ../modules/topNav.html %>
  <div class="login-box register">
    <h1 class="title">小欢有劵·账号注册</h1>
    <div class="admin-input-box">
      <input type="text" class="input-login" name="account" placeholder="请输入账号">
      <input type="password" class="input-login" name="password" placeholder="请输入密码">
    </div>
    <div class="login-btn-box">
      <div class="basebtn register-btn">注册</div>
    </div>
  </div>
</body>
<script type="text/javascript" src="/js/admin/login.js"></script>
</html>
