<% include ../modules/searchHeader.html %>
<link rel="stylesheet" href="/css/admin.css">
</head>
<body>
  <% include ../modules/topNav.html %>
  <div class="fans-main">
    <ul class="time-axis">
      <!-- <li class="time-axis-li flex">
        <div class="left">
          2018-12-31<br />
          12:59:59
          <b class="dot chuli"></b>
        </div>
        <div class="right">
          支付宝：阿凡达mmmm
          <b>
            <div class="amount">-50</div>
            <div class="tips chuli">处理中</div>
          </b>
        </div>
      </li> -->
    </ul>
  </div>

</body>
<script type="text/javascript" src="/js/admin/withdrawalsRecord.js"></script>
</html>
