*{
  padding: 0;
  margin: 0;
}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}
html,body{
  font-size: .24rem;
  color: #333;
  max-width: 750px;
  margin: auto;
  background: #fff;
}
ul,li,ol{
  list-style: none;
}
a{
  text-decoration: none;
  color: #333;
}
img{
  width: 100%;
}
.swiper-wrapper{
  img{
    display: block;
  }
}
.swiper-pagination-bullet-active{
  background: #fff!important;
}
.header-fiexd{
  position: fixed;
  top: 0;
  left: 0;
  height: .95rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 999;
  padding: 0 .2rem;
  box-sizing: border-box;
  .left{
    i{
      display: block;
      width: .5rem;
      height: .5rem;
      background-image: url('../images/return-page.png');
      background-size: 100%;
    }
  }
  .left,.right{
    flex: .5;
  }
  .center{
    flex:1;
    color: #333;
    font-size: .32rem;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
  }
}
.main{
  &:before{
    content: '';
    display: block;
    height: .95rem;
  }
}
.input-base{
  width: 100%;
  border: none;
  line-height: .2rem;
  padding: .2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  display: block;
  margin-top: .2rem;
}
input {
  -webkit-appearance: none;
  outline: none;
}
.add-btn {
  width: 4rem;
  text-align: center;
  line-height: 1rem;
  color: #fff;
  background: #000;
  margin: .5rem auto 0;
}
table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  text-align: center;
  background: #fff;
  th,td{
    border: 1px solid #eee;
    height: .5rem;
  }
  th{
    font-size: .26rem;
  }
  td{
    color: #676767;
    word-wrap:break-word;
    padding: .1rem;
  }
  .delete{
    background: #ff504d;
    display: inline-block;
    color: #fff;
    padding: .1rem;
  }
}
.search-box{
  height: .95rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0 .2rem;
  transition: all .3s;
  input[name="search"]{
    height: .6rem;
    border: none;
    border-radius: .1rem;
    flex: 1;
    padding-left: .2rem;
    background: #f3f3f3;
  }
}
.logo{
  margin-right: .2rem;
  h1{
    a{
      background-image: url('../images/logo.png');
      background-repeat: no-repeat;
      width: 1.6rem;
      height: .7rem;
      display: block;
      background-size: 100%;
    }
  }
}
.navigation{
  background: #fff;
  .navigation-swiper{
    height: .9rem;
    padding: 0 .2rem;
    a{
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
    }
    .nav-slide{
      text-align: center;
      display: inline-block;
      width: auto;
      font-size: .28rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .nav-title{
        padding: 0 .2rem;
      }
      &.active{
        color: #f53f65;
        border-bottom: 2px solid #f53f65;
        box-sizing: border-box;
      }
    }
  }
}
.recommend-list{
  background: #f7f7f7;
  display: flex;
  flex-wrap:wrap;
  padding: .2rem 0.1rem;
  li{
    flex: 1;
    min-height: 1.6rem;
    padding: 0 .1rem .2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 50%;
    width: 50%;
    min-width: 50%;
    box-sizing: border-box;
    .img-url{
      width: 100%;
      overflow: hidden;
    }
    a{
      display: block;
      background: #fff;
      padding-bottom: .2rem;
    }
    .commodity{
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      position: relative;
      padding: 0 .1rem;
    }
    .commodity-title{
      font-size: .28rem;
      font-weight: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /*! autoprefixer: off */
      -webkit-box-orient: vertical;
      /* autoprefixer: on */
    }
    .used-coupon{
      background: #ff504d;
      display: inline-block;
      border-radius: .1rem;
      color: #fff;
      font-size: .24rem;
      padding-left: .1rem;
      line-height: .3rem;
      padding-right: .1rem;
      margin-top: .15rem;
      margin-right: .1rem;
      height: .45rem;
      line-height: .45rem;
      span{
        border-right: 1px dashed #fff;
        padding-right: .1rem;
      }
    }
    .used-envelope{
      background: rgba(255,80,77, .5);
      display: inline-block;
      border-radius: .1rem;
      color: #fff;
      font-size: .24rem;
      padding-left: .1rem;
      line-height: .3rem;
      padding-right: .1rem;
      margin-top: .15rem;
      height: .45rem;
      line-height: .45rem;
    }
    .price{
      font-size: .22rem;
      margin-top: .2rem;
      position: relative;
    }
    .sale-price{
      color: #f95e5b;
      b{
        font-size: .3rem;
        font-weight: normal;
      }
    }
    .market-price{
      color: #b0b0b0;
      text-decoration: line-through;
      margin-left: .1rem;
    }
    .volume{
      color: #b0b0b0;
      position: absolute;
      top:50%;
      right: 0;
      transform: translateY(-50%);
    }
  }
}
.page-no{
  width: 10rem;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  padding-left: .2rem;
  box-sizing: border-box;
}
.category{
  display: flex;
  background: #fff;
  padding: .1rem .2rem;
  flex-wrap:wrap;
  li{
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    text-align: center;
    padding: .1rem 0;
    img{
      width: 1rem;
      height: 1rem;
    }
  }
}
.return-page{
  background: url('../images/return-page.png');
  width: .6rem;
  height: .6rem;
  position: fixed;
  top: .2rem;
  left: .2rem;
  z-index: 9999;
  background-size: 100%;
  border-radius: 50%;
}
.commodity-details{
  background: #fff;
  padding-bottom: .2rem;
  position: relative;
  .details-title{
    font-size: .28rem;
    padding: .2rem;
    color: #000;
    vertical-align: middle;
    font-weight: normal;
  }
}
.commodity-money{
  position: relative;
  display: flex;
  padding: .2rem ;
  box-sizing: border-box;
  justify-content: center;
  align-items: flex-end;
  color: #787878;
  &:after{
    content: '';
    height: .2rem;
    background: #f4f4f4;
    display: block;
    width: 100%;
    position: absolute;
    bottom: -.27rem;
  }
  .left{
    flex: 1;
    div{
      display: inline-block;
    }
    .jh{
      color: #f95e5b;
    }
    .yj{
      padding-left: .2rem;
    }
    .original-price{
      text-decoration: line-through;
    }
    .folding{
      font-size: .4rem;
    }
  }
  .right{
    flex: .5;
    font-size: .24rem;
    text-align: right;
  }
}
.password-box{
  margin-top: .2rem;
  padding: .2rem;
  background: #fff;
  .password-title{
    background: #f95e5b;
    color: #fff;
    text-align: center;
    padding: .2rem 0;
    font-size: .26rem;
  }
  .password{
    text-align: center;
    border: 1px dashed #f95e5b;
    .password-text, .password-reamrk{
      margin: .2rem 0;
      font-size: .26rem;
    }
  }
}
.bottom-fiexd{
  height: 1rem;
  position: fixed;
  background: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 -3px 10px #dedede;
  box-shadow: 0 -3px 10px #dedede;
  display: flex;
  justify-content: flex-end;
  .purchase{
    background: #f95e5b;
    color: #fff;
    font-size: .26rem;
    height: 100%;
    padding: 0 .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .url-purch{
    background: #000;
    color: #fff;
    font-size: .26rem;
    height: 100%;
    padding: 0 .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.update-all{
  background: #fff;
  text-align: center;
  font-size: .26rem;
  color: #fff;
  background: #ff504d;
  display: inline-block;
  height: .5rem;
  margin-bottom: .2rem;
  padding: .2rem;
}
.flex{
  display: flex;
}
.flex-center{
  align-items: center;
  justify-content: center;
}
.fe{
  flex:1;
}
.btn{
  background: #333;
  color: #fff;
  margin-top: .2rem;
  padding: .2rem;
}
.bottom-height{
  &:after{
    content: '';
    height: 1rem;
    display: block;
  }
}
.envelope{
  background: rgba(255,80,77,.5);
  display: inline-block;
  border-radius: .1rem;
  color: #fff;
  font-size: .24rem;
  padding-left: .1rem;
  line-height: .3rem;
  padding-right: .1rem;
  height: .45rem;
  line-height: .45rem;
  margin-left: .2rem;
}
.counp{
  background: #ff504d;
  display: inline-block;
  border-radius: .1rem;
  color: #fff;
  font-size: .24rem;
  padding-left: .2rem;
  line-height: .3rem;
  padding-right: .1rem;
  margin-left: .2rem;
  height: .45rem;
  line-height: .45rem;
  .juan{
    border-right: 1px dashed #fff;
    padding-right: .1rem;
  }
}
.login-box{
  position: fixed;
  top: .95rem;
  max-width: 750px;
  width: 100%;
  height: calc(100% - .95rem);
  background: url('/images/login-bj.jpg')no-repeat bottom;
  background-size: 100% 100%;
  &.register{
    background: url('/images/register-bj.jpg')no-repeat bottom;
    background-size: 100% 100%;
  }
  .title{
    font-size: .32rem;
    font-weight: normal;
    text-align: center;
    margin-top: .95rem;
  }
  .admin-input-box{
    margin-top: 1rem;
  }
  .input-login{
    display: block;
    width: 80%;
    margin: .2rem auto;
    border: none;
    border-bottom: 1px solid #000;
    height: .8rem;
    outline: none;
  }
}
.login-btn-box{
  display:  flex;
  justify-content: center;
  align-items: center;
  .basebtn {
    border: 1px solid #4f4d50;
    color: #4f4d50;
    font-weight: normal;
    font-size: .35rem;
    text-align: center;
    width: 2.5rem;
    margin: .8rem .2rem;
    padding: .15rem 0;
    border-radius: .1rem;
    &.login-btn{
      background: #4f4d50; /* Old browsers */
      background: -moz-linear-gradient(top, #4f4d50 0%, #202020 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #4f4d50 0%,#202020 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #4f4d50 0%,#202020 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4d50', endColorstr='#202020',GradientType=0 ); /* IE6-9 */
      color: #fff;
    }
  }
}
.order-box{
  .order-list{
    li{
      background: #fff;
      margin: .2rem 0;
      padding: .1rem .2rem;
      position: relative;
      overflow: hidden;
    }
    .title{
      font-size: .26rem;
      text-align: left;
      padding: .2rem 0;
    }
  }
  .order-search{
    display: flex;
    justify-content: center;
    input{
      flex: 1;
      border: 1px solid #000;
      height: .7rem;
      padding-left: .2rem;
    }
    .search-btn{
      background: #000;
      color: #fff;
      display: flex;
      align-items: center;
      padding: 0 .3rem;
    }
  }
}
.personal-center{
  padding: 0 .2rem;
  .info-input{
    margin-top: .4rem;
    display: none;
    .info-save{
      height: .8rem;
      background: #000;
      color: #fff;
      text-align: center;
      font-size: .35rem;
      line-height: .8rem;
    }
    input{
      display: block;
      height: .8rem;
      width: 100%;
      border: 1px solid #eee;
      padding-left: .2rem;
      box-sizing: border-box;
      margin-bottom: .2rem;
    }
  }
  .name{
    font-size: .28rem;
    font-weight: normal;
    text-align: center;
    color: #fff;
  }
  .home-main{
    background: #fff;
    border-radius: .2rem;
    .list{
      padding: .2rem;
      display: block;
      border-top: 1px solid #e8dddd;
      position: relative;
      & .jt-icon{
        position: absolute;
        top: 50%;
        right: 0;
        width: .5rem;
        height: .5rem;
        margin-top: -0.25rem;
      }
      &:first-child{
        border-top: none;
      }
      p{
        display: inline-block;
        vertical-align: middle;
      }
      &.user-management{
        display: none;
      }
      .order-icon{
        background-image: url(/images/me_order.png);
        background-size: 100%;
        width: .6rem;
        height: .6rem;
        display: inline-block;
        vertical-align: middle;
      }
      .xiugai{
        background-image: url(/images/xiugai.png);
        background-size: 100%;
        width: .6rem;
        height: .6rem;
        display: inline-block;
        vertical-align: middle;
      }
      .user{
        background-image: url(/images/user.png);
        background-size: 100%;
        width: .6rem;
        height: .6rem;
        display: inline-block;
        vertical-align: middle;
      }
      .update{
        background-image: url(/images/update.png);
        background-size: 100%;
        width: .6rem;
        height: .6rem;
        display: inline-block;
        vertical-align: middle;
      }
      .dock{
        background-image: url(/images/ruzhu.png);
        background-size: 100%;
        width: .6rem;
        height: .6rem;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
.text-center{
  text-align: center;
}
.edit-info{
  background: #fff;
  padding: .2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  label{
    display: inline-block;
    margin-right: .2rem;
  }
  input{
    height: .5rem;
    flex: 1;
    border: 1px solid #eee;
    padding-left: .2rem;
  }
}
.edit-btn{
  text-align: center;
  font-size: .3rem;
}
.order-nav{
  display: flex;
  div{
    flex: 1;
    text-align: center;
    padding: .2rem 0;
    &.active{
      border-bottom: 2px solid #000;
    }
  }
}
#cnzz_stat_icon_1275778804{
  display: none;
}
.base-title{
  flex: 1;
  padding: .2rem;
  border-bottom: 1px solid #eee;
  .left{
    float: left;
    font-weight: bold;
  }
  .right{
    float: right;
    color: #b8b8b8;
  }
}
.plate{
  &.info-plate{
    background: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1546603903274&di=d118a73dddd6830ab5e94f3f2dd42ae3&imgtype=0&src=http%3A%2F%2Fpic.90sjimg.com%2Fback_pic%2Fqk%2Fback_origin_pic%2F00%2F02%2F28%2F7adb7f4e8f5a6aa62c9f3c4ddd950bc6.png');
    background-size: 100%;
  }
  background: #fff;
  padding: .2rem;
  display: flex;
  align-items: center;
  position: relative;
  .tree{
    position: absolute;
    right: .2rem;
    bottom: 0;
    background: url(/images/tree.png);
    width: .8rem;
    height: .8rem;
    background-size: 100%;
  }
  .deer{
    position: absolute;
    right: .2rem;
    bottom: 0;
    background: url(/images/deer.png);
    width: .8rem;
    height: .8rem;
    background-size: 100%;
  }
  .income{
    flex: 1;

    .title{
      font-size: .24rem;
      color: #b5b1b1;
    }
    .money{
      font-size: .3rem;
      color: #333;
    }
    .already{
      color: #3ab725;
    }
    .not{
      color: #f92828;
    }
  }
  .pic{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #eee;
    margin-right: .2rem;
  }
  .userInfo{
    .name{
      font-size: .3rem;
      text-align: left;
    }
    .id{
      font-size: .24rem;
      color: #fff;
      margin-top: .05rem;
    }
  }
}
.income-reamrk{
  background: #e6e3e3;
  padding: .05rem .2rem;
  color: #a7a7a7;
}
.mt20{
  margin-bottom: .2rem;
}
.border20{
  border-radius: .2rem;
  overflow: hidden;
  background: #fff;
}
.order-main{
  display: flex;
  padding: .2rem;
  i{
    display: block;
    width: .5rem;
    margin: auto;
    height: .5rem;
    background-size: 100%;
  }
  .settlement{
    background-image: url('/images/Ordersettlement.png');
  }
  .orderpayment{
    background-image: url('/images/Orderpayment.png');
  }
  .orderfailure{
    background-image: url('/images/Orderfailure.png');
  }
  .ordersuccess{
    background-image: url('/images/Ordersuccess.png');
  }
  p{
    margin-top: .1rem;
  }
}
.order-bottom{
  margin-top: .2rem;
  font-size: .22rem;
  color: #a5a5a5;
  display: flex;
  .income{
    flex: 1;
    text-align: right;
    span{
      color: #ff504d;
    }
  }
}
.order-top{
  display: flex;
  .pict_url{
    width: 1.5rem;
    height: 1.5rem;
  }
  .order-info{
    h6{
      font-size: .26rem;
      font-weight: normal;;
      height: .3rem;
      overflow: hidden;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    .shop-title{
      font-size: .24rem;
      color: #ccc;
      margin-top: .1rem;
    }
    .pay-tip{
      display: inline-block;
      background: #216fe4;
      color: #fff;
      height: .3rem;
      padding: .05rem .05rem 0;
      box-sizing: border-box;
      font-size: .20rem;
      border-radius: .1rem;
      margin-top: .1rem;
      &.red{
        background: #ff504d;
      }
      &.active{
        background: green;
      }
    }
    .money-main{
      display: flex;
      text-align: center;
      margin-top: .05rem;
      .money-title{
        font-size: .24rem;
        color: #ccc;
      }
      .money{
        color: #333;
      }
    }
  }
}
.snow1{
  position: absolute;
  top: 1rem;
  right: -.3rem;
  width: .6rem;
  height: .6rem;
}
.order-status{
  margin-top: .2rem;
  div{
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    border: 1px solid #333;
    color: #333;
    background: #fff;
    &.active{
      background: #333;
      color: #fff;
    }
  }
}
.docking{
  background: #fff;
  .biaoti{
    font-size: .28rem;
    font-weight: bold;
    margin-bottom: .2rem;
    margin-top: .2rem;
    span{
      text-align: justify;
    }
  }
}
.fans-tab{
  background: #fff;
  height: .7rem;
  .fe{
    line-height: .7rem;
    &.active{
      color: #ff504d;
      border-bottom: 1px solid #ff504d;;
    }
  }
}
.fans-main{
  &:before{
    content: "";
    display: block;
    height: .95rem;
  }
}
.myfans-lists{
  background: #fff;
  margin-top: .2rem;
  .fans{
    padding: .2rem;
    align-items: center;
    .fans-info{
      margin-left: .25rem;
      .fans-name{
        font-weight: normal;
        font-size: .28rem;
        margin-bottom: .1rem;
      }
      .fans-reamrk{
        font-size: .20rem;
        color: #cecece;
      }
    }
    .fans-pic{
      width: 1.2rem;
      height: 1.2rem;
      display: block;
      background: #eee;
      border-radius: 50%;
    }
  }
}
.copy-code{
  background: rgba(250,250,250,.5);
  font-size: .24rem;
  color: #fff;
  margin-left: .05rem;
  padding: .02rem 0;
  box-sizing: border-box;
  width: .8rem;
  text-align: center;
  display: inline-block;
  border-radius: .2rem;
  margin-left: .1rem;
}
.cash-withdrawal{
  padding: .2rem;
  background: #4f4d50; /* Old browsers */
  background: -moz-linear-gradient(top, #4f4d50 0%, #202020 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4f4d50 0%,#202020 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4f4d50 0%,#202020 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4d50', endColorstr='#202020',GradientType=0 ); /* IE6-9 */
  .cash-btn{
    background: #fce5b3;
    padding: .1rem .2rem;
    border-radius: .1rem;
  }
  .balance{
    color: #fce5b3;
    font-size: 0;
    label,span{
      font-size: .26rem;
    }
  }
}
.accredit{
  padding: .6rem .4rem;
  .xh-icon{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
  }
  .alipay-icon{
    width: 1rem;
  }
  .lianjie{
    width: .5rem;
    margin: 0 .4rem;
  }
}
.cash-input{
  background: #fff;
  .cash-box{
    height: .8rem;
    line-height: .8rem;
    padding: .1rem .2rem;
    display: flex;
    border-bottom: 1px solid #eee;
    &.tips{
      color: #bdbdbd;
    }
    label{
      display: inline-block;
      width: 2.2rem;
      font-size: .26rem;
      color: #333;
    }
    .bind-alipay{
      display: flex;
      align-items: center;
      .tips{
        border: #fa94b0 1px solid;
        color: #fa94b0;
        line-height: 1.2;
        padding: .1rem;
        border-radius: .1rem;
      }
    }
    input{
      border: none;
      &::-webkit-input-placeholder{
        color: #cecece;
      }
    }
  }
}
.cash-tips{
  padding: .2rem;
  color: #fa94b0;
}
.application-btn{
  display: block;
  margin: auto;
  width: 4rem;
  text-align: center;
  padding: .2rem 0;
  margin-top: .5rem;
  background: #dadada;
  color: #fff;
  font-size: .3rem;
  border-radius: .1rem;
  &.active{
    background: #4f4d50; /* Old browsers */
    background: -moz-linear-gradient(top, #4f4d50 0%, #202020 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4f4d50 0%,#202020 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4f4d50 0%,#202020 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4d50', endColorstr='#202020',GradientType=0 ); /* IE6-9 */
  }
  &.bin-active{
    background: #4f4d50; /* Old browsers */
    background: -moz-linear-gradient(top, #4f4d50 0%, #202020 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4f4d50 0%,#202020 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4f4d50 0%,#202020 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4d50', endColorstr='#202020',GradientType=0 ); /* IE6-9 */
  }
}
.success-box{
  padding: .2rem;
  text-align: center;
  .success-icon{
    width: 3rem;
  }
  .success-tips{
    font-size: .3rem;
    color: #333;
    margin-top: .2rem;
  }
  .back-home{
    padding: .2rem;
    width: 4rem;
    background: #333;
    margin: 2rem auto;
    color: #fff;
    border-radius: .1rem;
    display: block;
  }
}
.recommended{
  background: #f7f7f7;
  padding: 0 0.2rem;
  display: none;
  div{
    height: .95rem;
    line-height: .95rem;
    text-align: center;
    color: #ff504d;
    font-size: .3rem;
    background: #fff;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -0.5px;
      left: 50%;
      margin-left: -1.3rem;
      width: 5%;
      height: 1px;
      background: #ff504d;
    }
    &:before{
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -0.5px;
      right: 50%;
      margin-right: -1.3rem;
      width: 5%;
      height: 1px;
      background: #ff504d;
    }
  }
  &:before{
    background: #f4f4f4;
    content: '';
    height: .2rem;
    display: block;
  }
  &:after{
    background: #f4f4f4;
    content: '';
    height: .2rem;
    display: block;
  }
}
.weixin-fiexd{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  z-index: 99999;
  padding: 0 .2rem;
  box-sizing: border-box;
  display: none;
}
