*{
  padding: 0;
  margin: 0;
}
html,body{
  background: #f0f0f0;
  font-size: .24rem;
  color: #333;
  max-width: 750px;
  margin: auto;
}
ul,li,ol{
  list-style: none;
}
a{
  text-decoration: none;
  color: #333;
}
img{
  width: 100%;
}
.swiper-wrapper{
  img{
    display: block;
  }
}
.swiper-pagination-bullet-active{
  background: #fff!important;
}
.header-fiexd{
  position: fixed;
  top: 0;
  left: 0;
  height: .95rem;
  background: #000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 999;
  padding: 0 .2rem;
  box-sizing: border-box;
  .left{
    i{
      display: block;
      width: .5rem;
      height: .5rem;
      background-image: url('../images/return-page.png');
      background-size: 100%;
    }
  }
  .left,.right{
    flex: .5;
  }
  .center{
    flex:1;
    color: #fff;
    font-size: .32rem;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
  }
}
.main{
  &:before{
    content: '';
    display: block;
    height: .95rem;
  }
  padding: .2rem;
  .title{
    font-size: .3rem;
    text-align: center;
    font-weight: normal;
    padding: .2rem;
  }
}
.input-base{
  width: 100%;
  border: none;
  line-height: .2rem;
  padding: .2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  display: block;
  margin-top: .2rem;
}
input {
  -webkit-appearance: none;
  outline: none;
}
.add-btn {
  width: 4rem;
  text-align: center;
  line-height: 1rem;
  color: #fff;
  background: #000;
  margin: .5rem auto 0;
}
table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  text-align: center;
  background: #fff;
  th,td{
    border: 1px solid #eee;
    height: .5rem;
  }
  th{
    font-size: .26rem;
  }
  td{
    color: #676767;
    word-wrap:break-word;
    padding: .1rem;
  }
  .delete{
    background: #ff504d;
    display: inline-block;
    color: #fff;
    padding: .1rem;
  }
}
.search-box{
  height: .95rem;
  background: #fe5c36;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0 .2rem;
  transition: all .3s;
  input[name="search"]{
    height: .6rem;
    border: none;
    border-radius: .5rem;
    flex: 1;
    padding-left: .2rem;
  }
}
.logo{
  margin-right: .2rem;
  h1{
    a{
      background-image: url('../images/logo.png');
      background-repeat: no-repeat;
      width: 1.6rem;
      height: .7rem;
      display: block;
      background-size: 100%;
    }
  }
}
.navigation{
  background: #fff;
  .navigation-swiper{
    height: .9rem;
    padding: 0 .2rem;
    a{
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
    }
    .nav-slide{
      text-align: center;
      display: inline-block;
      width: auto;
      font-size: .28rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .nav-title{
        padding: 0 .2rem;
      }
      &.active{
        color: #f53f65;
        border-bottom: 2px solid #f53f65;
        box-sizing: border-box;
      }
    }
  }
}
.recommend-list{
  background: #fff;
  li{
    min-height: 1.6rem;
    padding: .2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    a{
      display: flex;
    }
    .img-url{
      width: 2rem;
      height: 2rem;
      overflow: hidden;
    }
    .commodity{
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: .1rem .2rem 0;
      position: relative;
    }
    .commodity-title{
      font-size: .28rem;
      font-weight: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /*! autoprefixer: off */
      -webkit-box-orient: vertical;
      /* autoprefixer: on */
    }
    .used-coupon{
      background: #000;
      display: inline-block;
      border-radius: .1rem;
      color: #fff;
      font-size: .24rem;
      padding-left: .2rem;
      line-height: .3rem;
      padding-right: .2rem;
      margin-top: .15rem;
      margin-right: .2rem;
      height: .35rem;
      line-height: .35rem;
    }
    .used-envelope{
      background: #ff504d;
      display: inline-block;
      border-radius: .1rem;
      color: #fff;
      font-size: .24rem;
      padding-left: .2rem;
      line-height: .3rem;
      padding-right: .2rem;
      margin-top: .15rem;
      height: .35rem;
      line-height: .35rem;
    }
    .price{
      font-size: .22rem;
      margin-top: .2rem;
    }
    .sale-price{
      color: #f95e5b;
      b{
        font-size: .3rem;
        font-weight: normal;
      }
    }
    .market-price{
      color: #b0b0b0;
      text-decoration: line-through;
      margin-left: .1rem;
    }
  }
}
.page-no{
  width: 10rem;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  padding-left: .2rem;
  box-sizing: border-box;
}
.category{
  display: flex;
  background: #fff;
  padding: .1rem .2rem;
  flex-wrap:wrap;
  li{
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    text-align: center;
    padding: .1rem 0;
    img{
      width: 1rem;
      height: 1rem;
    }
  }
}
.commodity-details{
  background: #fff;
  padding-bottom: .2rem;
  .details-title{
    font-size: .28rem;
    padding: .2rem;
    color: #000;
    vertical-align: middle;
    font-weight: normal;
  }
}
.commodity-money{
  display: flex;
  padding: 0 .2rem .2rem .2rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: flex-end;
  color: #787878;
  .left{
    flex: 1;
    div{
      display: inline-block;
    }
    .jh{
      color: #f95e5b;
    }
    .yj{
      padding-left: .2rem;
    }
    .original-price{
      text-decoration: line-through;
    }
    .folding{
      font-size: .4rem;
    }
  }
  .right{
    flex: .5;
    font-size: .24rem;
    text-align: right;
  }
}
.password-box{
  margin-top: .2rem;
  padding: .2rem;
  background: #fff;
  .password-title{
    background: #f95e5b;
    color: #fff;
    text-align: center;
    padding: .2rem 0;
    font-size: .26rem;
  }
  .password{
    text-align: center;
    border: 1px dashed #f95e5b;
    .password-text, .password-reamrk{
      margin: .2rem 0;
      font-size: .26rem;
    }
  }
}
.bottom-fiexd{
  height: 1rem;
  position: fixed;
  background: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 -3px 10px #dedede;
  box-shadow: 0 -3px 10px #dedede;
  display: flex;
  justify-content: flex-end;
  .purchase{
    background: #f95e5b;
    color: #fff;
    font-size: .26rem;
    height: 100%;
    padding: 0 .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .url-purch{
    background: #000;
    color: #fff;
    font-size: .26rem;
    height: 100%;
    padding: 0 .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.update-all{
  background: #fff;
  text-align: center;
  font-size: .26rem;
  color: #fff;
  background: #ff504d;
  display: inline-block;
  height: .5rem;
  margin-bottom: .2rem;
  padding: .2rem;
}
.flex{
  display: flex;
}
.flex-center{
  align-items: center;
  justify-content: center;
}
.fe{
  flex:1;
}
.btn{
  background: #333;
  color: #fff;
  margin-top: .2rem;
  padding: .2rem;
}
.bottom-height{
  &:after{
    content: '';
    height: 1rem;
    display: block;
  }
}
.envelope{
  background: #ff504d;
  color: #fff;
  margin-left: .2rem;
  padding: .05rem .1rem;
  display: inline-block;
  border-radius: .1rem;
  height: .3rem;
  line-height: .3rem;
}
.counp{
  background: #000;
  color: #fff;
  margin-left: .2rem;
  padding: .05rem .1rem;
  display: inline-block;
  border-radius: .1rem;
  height: .3rem;
  line-height: .3rem;
}
.login-box{
  position: fixed;
  top: .95rem;
  width: 100%;
  height: calc(100% - .95rem);
  background: url('/images/login-bj.jpg')no-repeat bottom;
  background-size: 100% 100%;
  &.register{
    background: url('/images/register-bj.jpg')no-repeat bottom;
    background-size: 100% 100%;
  }
  .title{
    font-size: .32rem;
    font-weight: normal;
    text-align: center;
    margin-top: .95rem;
  }
  .admin-input-box{
    margin-top: 1rem;
  }
  .input-login{
    display: block;
    width: 80%;
    margin: .2rem auto;
    border: none;
    border-bottom: 1px solid #000;
    height: .8rem;
    outline: none;
  }
}
.login-btn-box{
  display:  flex;
  justify-content: center;
  align-items: center;
  .basebtn {
    border: 1px solid #000;
    color: #000;
    font-weight: normal;
    font-size: .35rem;
    text-align: center;
    width: 2.5rem;
    margin: .8rem .2rem;
    padding: .15rem 0;
    &.login-btn{
      background: #000;
      color: #fff;
    }
  }
}
.order-box{
  .order-list{
    li{
      background: #fff;
      margin: .2rem 0;
      padding: .1rem;
    }
    .title{
      font-size: .26rem;
      text-align: left;
      padding: .2rem 0;
    }
  }
  .order-search{
    display: flex;
    justify-content: center;
    input{
      flex: 1;
      border: 1px solid #000;
      height: .7rem;
      padding-left: .2rem;
    }
    .search-btn{
      background: #000;
      color: #fff;
      display: flex;
      align-items: center;
      padding: 0 .3rem;
    }
  }
}
.personal-center{
  .info-input{
    margin-top: .4rem;
    display: none;
    .info-save{
      height: .8rem;
      background: #000;
      color: #fff;
      text-align: center;
      font-size: .35rem;
      line-height: .8rem;
    }
    input{
      display: block;
      height: .8rem;
      width: 100%;
      border: 1px solid #eee;
      padding-left: .2rem;
      box-sizing: border-box;
      margin-bottom: .2rem;
    }
  }
  .name{
    font-size: .28rem;
    font-weight: normal;
    text-align: center;
  }
  .home-main{
    background: #fff;
    margin-top: .8rem;
    display: flex;
    text-align: center;
    .list{
      flex: 1;
      padding: .2rem;
      border: 1px solid #eee;
      &.user-management{
        display: none;
      }
      .order-icon{
        background-image: url(/images/me_order.png);
        background-size: 100%;
        width: .6rem;
        height: .6rem;
        display: block;
        margin: 0 auto .2rem;
      }
      .xiugai{
        background-image: url(/images/xiugai.png);
        background-size: 100%;
        width: .6rem;
        height: .6rem;
        display: block;
        margin: 0 auto .2rem;
      }
      .user{
        background-image: url(/images/user.png);
        background-size: 100%;
        width: .6rem;
        height: .6rem;
        display: block;
        margin: 0 auto .2rem;
      }
    }
  }
}
.text-center{
  text-align: center;
}
.edit-info{
  background: #fff;
  padding: .2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  label{
    display: inline-block;
    margin-right: .2rem;
  }
  input{
    height: .5rem;
    flex: 1;
    border: 1px solid #eee;
    padding-left: .2rem;
  }
}
.edit-btn{
  text-align: center;
  font-size: .3rem;
}
.order-nav{
  margin: .2rem 0;
  display: flex;
  background: #fff;
  div{
    flex: 1;
    text-align: center;
    padding: .2rem 0;
    &.active{
      border-bottom: 2px solid #000;
    }
  }
}
.cnzz_stat_icon_1275778804{
  display: none;
}
