<% include modules/searchHeader.html %>
</head>
<body>
  <% include modules/fixed.html %>
  <div class="bottom-height">
    <div class="commodity-details">
      <div class="swiper-container details-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="<%= detail.pict_url%>" alt="">
          </div>
          <% for(var i = 0; i < simple.string.length; i++) {%>
            <div class="swiper-slide" >
              <img src="<%= simple.string[i]%>" alt="">
            </div>
          <%}%>
        </div>
      </div>
      <h1 class="details-title"><%= detail.title%></h1>

      <div class="counp">
        <span class="juan">劵</span> ￥<span class="juan-amout"></span>
      </div>
      <div class="envelope">
        预估收益 ￥<span></span>
      </div>
      <div class="commodity-money">
        <div class="left">
          <div class="jh juanhou">
            劵后价 ￥<span class="folding"></span>
          </div>
          <div class="jh xianjia">
            现价 ￥<span class="folding"></span>
          </div>
          <div class="yj">
            (原价￥<span class="original-price"><%= detail.zk_final_price%></span>)
          </div>
        </div>
        <div class="right">
          已售<%= detail.volume%>件
        </div>
      </div>
    </div>
    <div class="password-box">
      <div class="password-title purchase" onclick="">一键点击复制淘口令</div>
      <div class="password">
        <p class="password-text">￥口令生成中￥</p>
        <p class="password-reamrk">复制这条信息，打开【手机淘宝】即可领劵购买</p>
      </div>
    </div>
    <div class="recommended">
      <div>猜你喜欢</div>
    </div>
    <% include modules/commodities.html %>
  </div>

  <div class="bottom-fiexd">
    <div class="purchase" onclick="">口令购买</div>
    <a class="url-purch" href="taobao:<%= detail.coupon_share_url%>">立即领劵</a>
  </div>
  <!-- 微信中引導分享 -->
  <div class="weixin-fiexd">
    <img src="/images/xixi.png" alt="">
  </div>
</body>
<script type="text/javascript">
  const infoData = {
  	title: '<%= detail.title%>',
  	url: 'https:<%= detail.coupon_share_url%>',
  	logo: '<%= detail.pict_url%>',
  }
</script>
<script type="text/javascript" src="/js/clipboard.min.js"></script>
<script type="text/javascript" src="/js/details.js"></script>
<script type="text/javascript">
  $(function(){
    if (MyMethods.isWeiXin()) {
      $('.url-purch').attr('href', '#').on('click', function(){
        $('.weixin-fiexd').show();
      });
      $('.weixin-fiexd').on('click', function(){
        $('.weixin-fiexd').hide();
      })
    } else {
      $('.url-purch').attr('href', 'taobao:<%= detail.coupon_share_url%>');
    }
    var coupon_info = '<%= detail.coupon_info%>';
    var zk_final_price = '<%= detail.zk_final_price%>';
    var commission_rate = '<%= detail.commission_rate%>';
    var num_iid = '<%= detail.num_iid%>';
    if (coupon_info == '') {
      $('.counp').hide();
      $('.yj').hide();
      $('.juanhou').hide();
      $('.xianjia span').html(zk_final_price);
      $('.envelope span').html(Math.floor((Math.floor((commission_rate / 100).toFixed(2) * zk_final_price) / 100) * .7 * 100) / 100);
    } else {
      var coupon_amount =  MyMethods.CouponNum(coupon_info);
      $('.xianjia').hide();
      $('.juanhou .folding').html(`${(zk_final_price - coupon_amount).toFixed(2)}`);
      $('.counp .juan-amout').html(MyMethods.CouponNum(coupon_info));
      $('.envelope span').html(Math.floor((Math.floor((commission_rate / 100).toFixed(2) * (zk_final_price - coupon_amount)) / 100) * .7 * 100) / 100);
    }
    $.myGetJSON({
      url: '/api/taobao/recommend?num_iid='+num_iid,
      success: function(res){
        if (res.data.results) {
          $('.recommended').show();
          var commlist = res.data.results.n_tbk_item;
          var html = '';
          for(var i= 0; i<commlist.length;i++){
            html+='<li class="">';
            html+='<a href="/babyDetails?id='+commlist[i].num_iid+'">';
            html+='<div class="img-url">';
            html+='<img src="'+commlist[i].pict_url+'" data-original="'+commlist[i].pict_url+'" alt="">';
            html+='</div>';
            html+='<div class="commodity">';
            html+='<h1 class="commodity-title">'+commlist[i].title+'</h1>';
            html+='<div class="price">';
            html+='<span class="sale-price">￥<b>'+(commlist[i].zk_final_price)+'</b></span>';
            html+='<span class="volume">已售'+commlist[i].volume+'</span>'
            html+='</div>';
            html+='</div>';
            html+='</a></li>';
          }
          $('.recommend-list').html(html);
          $("img").lazyload({effect: "fadeIn"});
        }
      }
    })
  })
</script>
</html>
