<% include modules/searchHeader.html %>
</head>
<body>
  <% include modules/fixed.html %>
  <div class="bottom-height">
    <div class="commodity-details">
      <div class="swiper-container details-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="<%= detail.pict_url%>" alt="">
          </div>
          <% for(var i = 0; i < simple.string.length; i++) {%>
            <div class="swiper-slide" >
              <img src="<%= simple.string[i]%>" alt="">
            </div>
          <%}%>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
      </div>
      <h1 class="details-title"><%= detail.title%></h1>

      <% if (detail.coupon_amount != '0') {%>
      <div class="counp">
        劵：￥<%= detail.coupon_amount%>
      </div>
      <% } %>
      <div class="envelope">
        预估收益：￥<%= Math.floor((Math.floor((detail.commission_rate / 100).toFixed(2) * (detail.zk_final_price - detail.coupon_amount)) / 100) * .7 * 100) / 100 %>
      </div>
      <div class="commodity-money">
        <% if (detail.coupon_amount != '0') {%>
          <div class="left">
            <div class="jh">
              劵后价￥<span class="folding"><%= (detail.zk_final_price - detail.coupon_amount).toFixed(2)%></span>
            </div>
            <div class="yj">
              (原价￥<span class="original-price"><%= detail.zk_final_price%></span>)
            </div>
          </div>
        <% } else { %>
          <div class="left">
            <div class="jh">
              现价￥<span class="folding"><%= (detail.zk_final_price - detail.coupon_amount).toFixed(2)%></span>
            </div>
            <!-- <div class="yj">
              (原价￥<span class="original-price"><%= detail.zk_final_price%></span>)
            </div> -->

          </div>
        <% } %>
        <div class="right">
          已售<%= detail.volume%>件
        </div>
      </div>
    </div>
    <div class="password-box">
      <div class="password-title purchase" onclick="">一键点击复制淘口令</div>
      <div class="password">
        <p class="password-text">￥口令生成中￥</p>
        <p class="password-reamrk">复制这条信息，打开【手机淘宝】即可领劵购买</p>
      </div>
    </div>
    <div class="recommended">
      <div>更多宝贝推荐</div>
    </div>
    <% include modules/commodities.html %>
  </div>
  <div class="bottom-fiexd">
    <div class="purchase" onclick="">口令购买</div>
    <a class="url-purch" href="<%= detail.coupon_click_url%>">立即领劵</a>
  </div>
  <!-- 微信中引導分享 -->
  <div class="weixin-fiexd">
    <img src="/images/xixi.png" alt="">
  </div>
</body>
<script type="text/javascript">
  const infoData = {
  	title: '<%= detail.title%>',
  	url: 'https:<%= detail.coupon_click_url%>',
  	logo: '<%= detail.pict_url%>',
    num_iid: '<%= detail.item_id%>',
  }
</script>
<script type="text/javascript" src="/js/clipboard.min.js"></script>
<script type="text/javascript" src="/js/details.js"></script>
<script type="text/javascript">
  if (MyMethods.isWeiXin()) {
    $('.url-purch').attr('href', '#').on('click', function(){
      $('.weixin-fiexd').show();
    });
    $('.weixin-fiexd').on('click', function(){
      $('.weixin-fiexd').hide();
    })
  } else {
    $('.url-purch').attr('href', 'taobao:<%= detail.coupon_click_url%>');
  }
  $.myGetJSON({
  	url: '/api/taobao/recommend?num_iid='+infoData.num_iid,
  	success: function(res){
  		if (res.data.results) {
  			$('.recommended').show();
  			var commlist = res.data.results.n_tbk_item;
  			var html = '';
  			for(var i= 0; i<commlist.length;i++){
  				html+='<li class="">';
  				html+='<a href="/babyDetails?id='+commlist[i].num_iid+'">';
  				html+='<div class="img-url">';
  				html+='<img src="'+commlist[i].pict_url+'" data-original="'+commlist[i].pict_url+'" alt="">';
  				html+='</div>';
  				html+='<div class="commodity">';
  				html+='<h1 class="commodity-title">'+commlist[i].title+'</h1>';
  				html+='<div class="price">';
  				html+='<span class="sale-price">￥<b>'+(commlist[i].zk_final_price)+'</b></span>';
  				html+='<span class="volume">已售'+commlist[i].volume+'</span>'
  				html+='</div>';
  				html+='</div>';
  				html+='</a></li>';
  			}
  			$('.recommend-list').html(html);
  			$("img").lazyload({effect: "fadeIn"});
  		}
  	}
  })
</script>
</html>
