<% include ../modules/searchHeader.html %>
</head>
<body>
  <% include ../modules/topNav.html %>
  <div class="main docking">
    <div class="flex biaoti">
      <label>1.</label>
      <span class="fe ">首先你要有一个自己的微信公众号，如果没有请先去申请！（如何申请自行百度）</span>
    </div>
    <div class="flex biaoti">
      <label>2.</label>
      <span class="fe ">登录微信公众号后，在公众号后台首页找到《基本配置》，用鼠标点击它，进入基本配置页面。</span>
    </div>
    <div class="flex biaoti">
      <label>3.</label>
      <span class="fe ">在《基本配置》界面，找到《服务器配置》,直接点击《修改配置》进入配置页面。</span>
    </div>
    <img src="https://imgsa.baidu.com/exp/w=480/sign=1b8e977f1c3853438ccf8629a312b01f/e4dde71190ef76c6894b9f389116fdfaaf516703.jpg" alt="">
    <div class="flex biaoti">
      <label>4.</label>
      <span class="fe ">在《基本配置》界面，第一步：首先需要填写URL地址(******)，第二步：需要填令牌（XiaoHuanYouJuan）,第三步：随机生成一个秘钥,最后点击提交，如果系统提示成功，说明我们设置的接口是成功的。</span>
    </div>
  </div>
</body>
</html>
